.logout-btn {
  background-color: #b55396;
  color: white;
  padding: 10px 20px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
.logout-btn:hover {
  scale: 1.2;
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
